<footer class="footer">
    <div class="f-info ">
        <a href=""> <i class="fa-brands fa-instagram"></i></a>
        <a href=""> <i class="fa-brands fa-twitter"></i></a>
        <a href=""> <i class="fa-brands fa-whatsapp"></i></a>
    </div>
    <div class="c-info">
        <a href="">&copy;Wanderlust Private Limited</a>
    </div>
    <div class="f-links">
        <a href="">privacy</a>
        <a href="">terms</a>
    </div>
</footer>