<% layout ("/layouts/boilerplate") %>

<div class="row">
    <div class="alert alert-danger col-6 mt-4 offset-3" role="alert">
       <!--  something went wrong!! Please try again later. -->
         <%= err.message %>

    </div>
</div>
